nav {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.navlinks {
    font-size: 150%;
}
#polls {
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: #00ace6;
    padding: 25px 25px;
    
}
.pollnames {
    vertical-align: top;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid black;
    padding: 10px 10px;
    &:hover {
        background: #c2c2d6;
    }
}
#pageDesc {
    margin-bottom: 50px;
}




#newPollPage {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    width: 75%;
    border: 2px solid black;
    padding: 10px 10px;
}
#title {
    width: 75%;
}
#options {
    width: 75%;
}
.formInputs {
    width: 75%;
    margin-top: 25px;
}
#newPollButton {
    margin-top: 15px;
    font-size: 125%;
}




#test {
    margin-top: 200px;
}